html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("sfondo1.jpg");
    background-repeat: no-repeat;
    background-position: center top; 
    margin: 0;
    padding: 0;
    background-size: contain;
}

.punti {
    margin: 0 auto;
    /* Valore aumentato per spostarlo più in giù */
    margin-top: 25vh; 
    vertical-align: top;
}

.punti td {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

#parola {
    letter-spacing: 5px;
    margin: 32px 0px 32px 0px;
    padding: 30px;
}

.lettere {
    margin: 0 auto;
}

.lettere td {
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    border: 1px solid #00ff00;
    cursor: pointer;
    background: #00ff00;
    color: #000000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.lettere td:hover {
    background: #000dff;
    color: #d2bf15;
}

.punti img {
    width: 30px;
    padding: 0px;
    margin: 0px;
}

